body {
    & #app {
        & section {
            position: relative;
    
            & #btn-newPost {
                position: fixed;
                right: 40px;
                bottom: 40px;
                z-index: 2;
            }
        }
    }
}